#codDes {
    max-width: 120px;
}

.original-price {
    font-size: 1.2rem;
    text-decoration: line-through;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    color: red;
  }
  
  .original-price::after {
    font-size: 2rem;
    position: absolute;
    top: -5px;
    right: -20px;
  }
  
  h4 {
    font-size: 1.5rem;
    color: green;
    font-weight: bold;
  }
  